.container {
  width: 100%;
  height: 64px;
  background: #fff;
  flex-grow: 0;
}

.form {
  display: flex;
  width: 100%;
}

.form > * {
  margin: 8px;
}

.message_input {
  height: 48px;
  flex-grow: 1;

  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.3em;

  outline: 0;
  border: 0;
  border-bottom: 1px solid #aaa;
}

.send_button {
  height: 48px;
  cursor: pointer;
  font-size: 2em;
}
