.container {
  width: 100%;
  background: #fff;
  flex-grow: 1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
}

.container > * {
  margin: 8px;
}

.feed {
  flex-grow: 1;
  background: #f9f9f9;
}
